@model IEnumerable<SecurityDoors.DataAccessLayer.Models.User>

<h1>Список активных пользователей</h1>

<br />

<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Электронный адрес</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td><a asp-action="EditUsersRoles" asp-route-userid="@item.Id">Права доступа</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
