@model IEnumerable<SecurityDoors.DataAccessLayer.Models.User>

@{
    ViewData["Title"] = "Разграничение прав пользователей - Security Doors";
}

<div class="text-center">
    <h1>Разграничение прав пользователей</h1>
</div>

<br />

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Электронная почта</th>
                <th scope="col">Доступные действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td><a asp-action="EditUsersRoles" asp-route-userid="@item.Id">Права доступа</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
