@model MessageViewModel

@{
    ViewData["Title"] = "Регистрация успешно завершена - Security Doors";
}

<script>
    var timeout = 15;
    window.onload = function RedirectPage() {
        document.getElementById("seconds").innerHTML = timeout;
        timeout--;
        if (timeout <= 0) {
            var getLinq = document.getElementById("linq").origin;
            location.replace(getLinq)
        }
        else {
            setTimeout(RedirectPage, 1000)
        }
    }
</script>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Регистрация завершена</h1>

    <p class="lead">@Model.Message</p>

    <br /> <br />

    <p class="lead">Через <a id="seconds">15</a> сек. вы будете переведены на главную страницу.</p>
    <p class="lead">Если этого все еще не произошло нажмите <a asp-action="Index" asp-controller="Home" id="linq">здесь</a></p>
</div>
