@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SecurityDoors.PresentationLayer.ViewModels;

@model CardEditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form asp-action="Edit" asp-controller="Page" asp-route-id="@Model.Id">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Основные данные: </span>
            </div>
            <input type="text" asp-for="UniqueNumber" class="form-control" placeholder="Подразделение" />
            <input type="text" asp-for="Status" class="form-control" placeholder="Номер кабинета" />
        </div>

        <br />

        <div class="form-group">
            <input type="submit" value="Подтвердить редактирование" class="btn btn-warning btn-lg btn-block" />
        </div>
    </form>
</body>
</html>
