<!DOCTYPE html>

<html>
<head>
    <script src="~/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/lib/bootstrap-4.3.1/js/bootstrap.js"></script>
    <title>@ViewData["Title"]</title>

</head>
<body>
    <a href="/Home/Index">Home</a> <br />
    <a href="/Card/Index">Cards</a> <br />
    <a href="/Door/Index">Doors</a> <br />
    <a href="/Home/About">About</a> <br />
    <a asp-action="Index" asp-controller="Person">Person</a> <br />
    @RenderBody()
</body>
</html>
