<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>

</head>
<body>
    <a asp-action="Index" asp-controller="Home">Home</a> <br />
    <a asp-action="About" asp-controller="About">About</a> <br />

    <br />

    @if (User.Identity.IsAuthenticated)
    {
        <p>Вы вошли в систему, как: @User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="LogOff">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Вход</a>
    }

    <br />

    <a asp-action="Index" asp-controller="Card">Cards</a> <br />
    <a asp-action="Index" asp-controller="Door">Doors</a> <br />
    <a asp-action="Index" asp-controller="Person">People</a> <br />
    <a asp-action="Index" asp-controller="DoorPassing">Door Passings</a> <br />

    @RenderBody()
</body>
</html>
