@{
    ViewData["Title"] = "Ошибка входа - Security Doors";
    Layout = "_Layout";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Ошибка</h1>
    <p class="lead">Пожалуйста, дождитесь получения карточки и попробуйте снова. Если у вас есть карточка но нет возможности зайти - связитесь с администрацеей.</p>
</div>
