@{
    ViewData["Title"] = @Localizer["Title"];
    Layout = "_Layout";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">@Localizer["Error"]</h1>
    <p class="lead">@Localizer["Message"]</p>
</div>
