@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SecurityDoors.PresentationLayer.ViewModels.CardViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <form method="post" asp-controller="Card" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <div>
                <h2>Создать новую карточку</h2>
            </div>

            <div>
                <label asp-for="UniqueNumber">Уникальный номер: </label>
                <input type="text" asp-for="UniqueNumber" />
                <span asp-validation-for="UniqueNumber"></span>
            </div>

            <div>
                <label asp-for="Status">Статус: </label>
                <select asp-for="Status">
                    <option>Активна</option>
                    <option>Закрыта</option>
                </select>
            </div>

            <br />

            <div>
                <input type="submit" value="Подтвердить" />
            </div>
        </div>
    </form>
</body>
</html>
