@model CardViewModel

<div>
    <h2>Создать новую карточку</h2>
</div>

<form method="post" asp-controller="Card" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="UniqueNumber">Уникальный номер: </label>
            <input type="text" asp-for="UniqueNumber" />
            <span asp-validation-for="UniqueNumber"></span>
        </div>

        <div>
            <label asp-for="Status">Статус: </label>
            <select asp-for="Status">
                <option>Активна</option>
                <option>Закрыта</option>
            </select>
        </div>

        <div>
            <label asp-for="Comment">Комментарий: </label>
            <input type="text" asp-for="Comment" />
            <span asp-validation-for="Comment"></span>
        </div>

        <br />

        <div>
            <input type="submit" value="Подтвердить" />
        </div>
    </div>
</form>
