@model CardViewModel

<h2>Информация карточки №@Model.Id</h2>
<table>
    <thead>
        <tr>
            <th>Уникальный номер</th>
            <th>Статус</th>
            <td>Комментарий</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.UniqueNumber</td>
            <td>@Model.Status</td>
            <td>@Model.Comment</td>
        </tr>
    </tbody>
</table>
