@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SecurityDoors.PresentationLayer.ViewModels.CardEditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <form method="post" asp-controller="Card" asp-action="Edit" asp-route-id="@Model.Id">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <div>
                <h2>Данные для изменения карточки №@Model.Id</h2>
            </div>

            <div>
                <label asp-for="Status">Статус карточки: </label>
                <select asp-for="Status">
                    <option>Активна</option>
                    <option>Закрыта</option>
                </select>
            </div>

            <br />

            <div>
                <input type="submit" value="Подтвердить редактирование" />
            </div>
        </div>
    </form>
</body>
</html>
