@{
    ViewData["Title"] = "О команде - Security Doors";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">О команде</h1>
    <p class="lead">Alexey Fedechkin - Software Developer</p>
    <p class="lead">Alexander Gorelkin - Software Developer</p>
    <p class="lead">Mikhail Masny - Software Developer</p>
    <p class="lead">Mikhail Chernozhukov - QA Automation engineer</p>
    <p class="lead">Sofiya Ivanova - UX / UI Designer</p>
</div>
