@{
    ViewData["Title"] = "О команде - Security Doors";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">О команде</h1>
    <p class="lead">Developers: mikhail34846166, alexander_s207883, alexe_fedechkin</p>
    <p class="lead">HTML / Razor pages: mikhail34846166</p>
    <p class="lead">Designer: userfb9a16b4fdedcb2c2b2e1d64438968f1</p>
    <p class="lead">Unit tests: nishikava</p>
    <p class="lead">XML comments: mikhail34846166, alexander_s207883</p>
</div>
