@{
    ViewData["Title"] = "Главная страница - Security Doors";
    Layout = "_Layout";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Главная страница</h1>
    <p class="lead">Основной идей данного проекта является проход людей или сотрудников определенной организации через дверные контроллеры с использованием карточек различного уровня. Разработанное приложение имеет огромный ряд возможностей: от создания объектов (Дверь, Карточка, Сотрудник и т.д.) до управления всеми находящимися данными в базе данных. Основной интерфейс комплекса реализован в виде веб-приложения, которое позволяет зарегистрироваться, авторизироваться и использовать приложение в определенной роли: администратор, модератор, сотрудник или посетитель.</p>
</div>
